@use '../variables/colors' as *;

.main {
    direction: rtl;
}

.dark {
    img {
        box-shadow: none;
    }
    background-color: $l_body_bg;
    color: $l_text_color;
    header {
        background-color: $l_body_bg;
        .logo_wrapper, .mode_button_wrapper {
            color: $l_text_color-light;
        }
        ul {
            .nav_link {
                & > * {
                    color: $l_text_color-light;
                }
            }
        }
    }
    .home, .collection {
        background-color: $l_bg_color;
        h1, h2 {
            color: $l_title_color;
        }
        a {
            color: $l_text_color-light;
        }
        p {
            color: $l_text_color-light;
        }
        .direction {
            & > a {
                color: $l_title_color !important;
            }
        }
    }
    .new, .products, .brands {
        h2, h3 {
            color: $l_title_color;
        }
    }
    .products {
        .arrows {
            svg {
                color: $l_title_color;
            }
        }
    }
    .footer {
        h3 {
            color: $l_title_color;
        }
        img {
            background-color: transparent !important;
        }
        li:hover {
            color: $l_title_color !important;
        }
    }
}

@media screen and (max-width: 699px)  {
        .nav_link {
            & > * {
                color: $text-color !important;
            }
        }
}