$body_bg: hsl(220, 18%, 99%);
$bg_color: hsl(220, 18%, 86%);
$title-color: hsl(220, 8%, 10%);
$text-color: hsl(220, 4%, 32%);
$text-color-light: hsl(220, 4%, 55%);


$l_body_bg: hsl(220, 8%, 10%);
$l_bg_color: hsl(220, 4%, 32%);
$l_title_color: hsl(220, 18%, 86%);
$l_text_color: hsl(220, 18%, 78%);
$l_text_color-light: hsl(220, 18%, 99%);