@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap");
.main {
  direction: rtl;
}

.dark {
  background-color: hsl(220deg, 8%, 10%);
  color: hsl(220deg, 18%, 18%);
}
.dark img {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dark header {
  background-color: hsl(220deg, 8%, 10%);
}
.dark header .logo_wrapper, .dark header .mode_button_wrapper {
  color: hsl(220deg, 8%, 65%);
}
.dark header ul .nav_link > * {
  color: hsl(220deg, 8%, 65%);
}
.dark .home, .dark .collection {
  background-color: hsl(220deg, 18%, 23%);
}
.dark .home h1, .dark .home h2, .dark .collection h1, .dark .collection h2 {
  color: hsl(220deg, 8%, 95%);
}
.dark .home a, .dark .collection a {
  color: hsl(220deg, 8%, 65%);
}
.dark .home p, .dark .collection p {
  color: hsl(220deg, 8%, 65%);
}
.dark .home .direction > a, .dark .collection .direction > a {
  color: hsl(220deg, 8%, 95%) !important;
}
.dark .new h2, .dark .new h3, .dark .products h2, .dark .products h3, .dark .brands h2, .dark .brands h3 {
  color: hsl(220deg, 8%, 95%);
}
.dark .products .arrows svg {
  color: hsl(220deg, 8%, 95%);
}
.dark .footer h3 {
  color: hsl(220deg, 8%, 95%);
}
.dark .footer img {
  background-color: transparent !important;
}
.dark .footer li:hover {
  color: hsl(220deg, 8%, 95%) !important;
}

@media screen and (max-width: 699px) {
  .nav_link > * {
    color: hsl(220deg, 4%, 32%) !important;
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 1rem 0;
  background-color: hsl(220deg, 18%, 99%);
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .logo_wrapper {
  font-size: 18px;
  font-weight: 500;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
header nav ul .nav_link {
  cursor: pointer;
}
header nav ul .nav_link svg {
  display: none;
}
header nav .mode_button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 18px;
}

@media screen and (max-width: 699px) {
  header nav ul {
    position: fixed;
    z-index: 100;
    bottom: 3%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 1rem 2rem;
    background-color: hsl(220deg, 18%, 99%);
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 1px grey, 0px -1px 1px grey;
            box-shadow: 0px 1px 1px grey, 0px -1px 1px grey;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
  header nav ul .nav_link > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0.5rem;
  }
  header nav ul .nav_link > * svg {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  header nav ul {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
.home {
  background-color: hsl(220deg, 18%, 86%);
  padding-bottom: 5rem;
}
.home .home_container {
  max-width: 400px;
  margin: auto;
}
.home .home_container .home_text h1 {
  font-size: 34px;
  line-height: 1.1;
  font-weight: 500;
}
.home .home_container .home_text p {
  padding-block: 0.7rem 1rem;
  font-weight: 600;
  -webkit-transition: 300ms !important;
  transition: 300ms !important;
}
.home .home_container .home_text .direction {
  max-width: 5rem;
}
.home .home_container .home_text .direction > a {
  color: hsl(220deg, 8%, 10%);
}
.home .home_container .home_images {
  position: relative;
  padding-top: 2rem;
}
.home .home_container .home_images img {
  width: 250px;
}
.home .home_container .home_images .upper_img {
  width: 180px;
  position: absolute;
  top: 50%;
  right: 45%;
}

@media screen and (min-width: 900px) {
  .home {
    padding-bottom: 12rem;
  }
  .home .home_container .home_text h1 {
    font-size: 60px !important;
  }
}
@media screen and (min-width: 780px) {
  .home {
    padding-bottom: 12rem;
    min-height: 100vh;
  }
  .home .home_container {
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_text h1 {
    font-size: 50px !important;
  }
  .home .home_text p {
    padding-block: 2rem 1rem !important;
  }
  .home .home_images .lower_img {
    width: 300px !important;
  }
  .home .home_images .upper_img {
    right: -8rem !important;
    width: 250px !important;
  }
}
.new {
  min-height: calc(100vh - 3rem);
}
.new h2 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 3rem;
}
.new .new_container {
  max-width: 550px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  justify-items: center;
  row-gap: 2.5rem;
}

@media screen and (min-width: 700px) {
  .new .new_container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .new .new_container {
    max-width: 800px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.collection {
  background-color: hsl(220deg, 18%, 86%);
}
.collection .collection_container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 2rem;
}
.collection .collection_container .men_collection, .collection .collection_container .women_collection {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.collection .collection_container .men_collection img, .collection .collection_container .women_collection img {
  width: 180px;
}
.collection .collection_container .men_collection .collection_text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 1rem;
}
.collection .collection_container .women_collection .collection_text {
  margin-top: 1rem;
}
.collection .collection_container .collection_text h2 {
  margin-bottom: 0.8rem;
  line-height: 1.1;
  font-size: 24px;
}

@media screen and (min-width: 650px) {
  .collection .collection_container {
    position: relative;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    height: 571px;
  }
  .collection .collection_container .men_collection, .collection .collection_container .women_collection {
    position: absolute;
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }
  .collection .collection_container .men_collection img, .collection .collection_container .women_collection img {
    width: 250px;
  }
  .collection .collection_container .men_collection {
    -ms-grid-columns: 230px -webkit-max-content;
    -ms-grid-columns: 230px max-content;
    grid-template-columns: 230px -webkit-max-content;
    grid-template-columns: 230px max-content;
    bottom: 1rem;
  }
  .collection .collection_container .men_collection .collection_text {
    margin-right: auto;
  }
  .collection .collection_container .women_collection {
    -ms-grid-columns: -webkit-max-content 230px;
    -ms-grid-columns: max-content 230px;
    grid-template-columns: -webkit-max-content 230px;
    grid-template-columns: max-content 230px;
    top: 0;
  }
  .collection .collection_container .collection_text h2 {
    font-size: 30px;
  }
}
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products h2 {
  font-size: 28px;
  padding-bottom: 3rem;
}
.products .products_container {
  max-width: 550px;
  margin: auto;
  overflow: hidden;
}
.products .products_container .cards_holder {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 1.7rem;
     -moz-column-gap: 1.7rem;
          column-gap: 1.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products .products_container .cards_holder span {
  font-size: 18px;
}
.products .arrows {
  padding: 1rem;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.products .arrows svg {
  cursor: pointer;
  font-size: 26px;
}

@media screen and (max-width: 600px) {
  .products .products_container {
    max-width: 400px;
    margin: 0;
  }
  .products .products_container .cards_holder img {
    width: 170px;
  }
}
@media screen and (max-width: 460px) {
  .products .products_container {
    max-width: 350px;
  }
  .products .products_container .cards_holder {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
  .products .products_container .cards_holder img {
    width: 140px;
  }
}
.brands h2 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 3rem;
}
.brands .brands_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  height: 22vh;
  max-width: 700px;
  margin: auto;
  justify-items: center;
}
.brands .brands_container img:nth-child(1), .brands .brands_container img:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.brands .brands_container img {
  width: 120px;
}

@media screen and (max-width: 600px) {
  .brands .brands_container {
    width: 300px;
    height: auto;
    row-gap: 2rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .brands .brands_container img {
    width: 100px;
  }
}
@media screen and (max-width: 360px) {
  .brands .brands_container {
    width: 200px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer {
  padding-bottom: 2rem;
}
.footer .footer_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.footer .footer_container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.footer .footer_container ul li {
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  color: hsl(220deg, 4%, 55%);
  padding-block: 0.2rem;
}
.footer .footer_container ul li:hover {
  color: hsl(220deg, 8%, 10%);
}
.footer .footer_container .introduction {
  max-width: 10rem;
}
.footer .footer_container .introduction .logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3rem;
     -moz-column-gap: 0.3rem;
          column-gap: 0.3rem;
}
.footer .footer_container .introduction .logo_wrapper img {
  width: auto;
  background-color: black;
  width: 25px;
}
.footer .footer_container .introduction p {
  color: hsl(220deg, 4%, 55%);
  width: 15rem;
}
.footer .footer_container .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.footer .footer_container .office ul li:hover {
  color: hsl(220deg, 4%, 55%);
  cursor: auto;
}
.footer .rights {
  text-align: center;
  padding-top: 5rem;
}

@media screen and (max-width: 850px) {
  .footer .footer_container {
    margin: 0 auto;
    -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: right;
  }
}
@media screen and (max-width: 700px) {
  .footer .rights {
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 600px) {
  .footer .footer_container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .footer .footer_container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(220deg, 4%, 32%);
}

body {
  font-family: "Tajawal", sans-serif;
  font-size: 0.938rem;
  color: hsl(220deg, 4%, 32%);
  background-color: hsl(220deg, 18%, 99%);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-weight: 600;
  color: hsl(220deg, 8%, 10%);
}

img {
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px grey;
          box-shadow: 0px 1px 1px grey;
  width: 250px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: auto;
}

.container {
  width: 70%;
  margin: auto;
}

section {
  padding-block: 3rem;
  padding-inline: 2rem;
}

button {
  font-family: "Tajawal", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.direction > a {
  color: hsl(220deg, 8%, 10%);
  color: hsl(220deg, 4%, 55%);
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.direction > a:hover svg {
  -webkit-transform: translateX(-0.3rem);
          transform: translateX(-0.3rem);
}
.direction > a span {
  font-size: 14px;
  padding-left: 0.3rem;
}
.direction > a svg {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.card img {
  width: 250px;
}
.card h3 {
  padding-block: 0.5rem 0.3rem;
  font-size: 18px;
}
.card .direction {
  max-width: 9rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: hsl(219deg, 4%, 16%);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: hsl(219deg, 4%, 50%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(219deg, 4%, 32%);
  cursor: pointer;
  border-radius: 10px;
}